.best-of-wrapper {
    // padding: 16px 0;
    background: $white-bg;

    .best-of-title {
        margin-bottom: 16px;
        text-transform: capitalize;

        
        @media (max-width: 768px) {
            font-size: 16px;
            margin-bottom: 12px;
        }
    }

    .owl-theme {
        z-index: 0;
        .item {
            // background-color: #aae9c5;
            background-image:$green-gradient;
            display: flex;
            flex-direction: column;
            gap: 5px;
            cursor: pointer;

            .img-box {
                height: 200px;
                overflow: hidden;
                @media (max-width: 768px) {
                    height: 90px;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    filter:$pink-shadow;
                }
            }
        }

        .owl-nav {
            display: flex;
            justify-content: space-between;
            position: absolute;
            width: 100%;
            top: calc(50% - 40px);

            .owl-prev,
            .owl-next {
                font-size: 30px;
                font-weight: 600;
            }
        }

        .owl-dots {
            display: none;
        }
    }
}