.contact-us-form {
  padding: 16px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $green-gradient;
  .title {
  }
  .form-contents {
    background: $headerbg-linear-gradient;
    padding: 7%;
    border-radius: 8px;
    display: flex;
    gap: 8%;
    @media (max-width: 767px) {
      padding: 4%;
      border-radius: 4px;
    }

    .left-content {
      flex: 0 0 65%;
      padding: 28px 24px;
      box-shadow: 1px 0px 7px 4px #755079;
      border-radius: 12px;
      position: relative;
      @media (max-width: 767px) {
        padding: 8px;
        border-radius: 4px;
      }
      .icon-box {
        width: 128px;
        height: 128px;
        border-radius: 50%;
        overflow: hidden;
        position: absolute;
        left: 50%;
        top: 0;
        transform: translate(-50%, -50%);
      
        img {
          width: 100%;
          height: auto;
        }
      }

      .xl-title {
        text-align: center;
        margin-bottom: 32px;
        color: rgb(180, 13, 113);
        font-size: clamp(24px, 4vw, 32px);
      }
      .form-group {
        margin-bottom: 16px;
        @media (max-width: 767px) {
          margin-bottom: 8px;
        }
        label {
          margin-bottom: 8px;
          color: $faded-white;
          @media (max-width: 767px) {
            margin-bottom: 4px;
            font-size: 14px;
          }
        }
        &.drpdown {
          //   label {
          //     white-space: nowrap;
          //   }
        }
        .form-control {
          caret-color: rgb(180, 13, 113);
          background: linear-gradient(178deg, #c2dcf6 0%, #ffffff 100%);
          @media (max-width: 767px) {
            font-size: 16px;
            padding: 4px 8px;
          }
          &.country-flag {
            padding: 0;
            .form-control {
              padding-left: 42px;
              border: none;
              width: 100%;
            }
          }
          &:focus ~ .form-error{
            &::after{
              content: url(../Images/Icons/smilingface.svg);
              width: 25px;
              height: 25px;
            }
          }
        }
      }
    }
    .right-content {
      flex: 0 0 25%;
      padding: 28px 24px;
      .inner-contents {
        padding-right: 12%;
        color: $white-text;
        font-size: 14px;
        font-weight: 500;
        h3 {
          color: rgb(180, 13, 113);
          font-size: clamp(20px, 4vw, 24px);
          font-weight: 500;
        }
        .channel-type {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          a {
            text-decoration: none;
            color: $faded-white;
            font-weight: 600;
            &:hover {
              color: rgb(187, 39, 189);
            }
          }
        }
      }
    }
    @media (max-width: 768px) {
      flex-direction: column;
    }
    .form-error{
      color: rgb(191, 36, 36);
      font-size: 15px;
      font-weight: 600;
      margin-top: clamp(4px,4vw,8px);
      position: relative;
      overflow: hidden;
      padding: 4px 0;
      &::before{
        content: "";
        width:100%;
        height: 100%;
        position: absolute;
       animation: warning 1s linear;
       
       transition: 3s all;
      //  overflow: hidden;
      }
      &::after{
        content: url('../Images/Icons/sad.svg');
        position: absolute;
        height: 20px;
        width: 20px;
       margin-left: 12px;
       animation: sadshake 2s linear;
      }
    }
  }
}
















@keyframes warning {
  0%{background: transparent;transform: translateX(-100%);}
  100% { background:rgb(0,0,0,0.3);transform: translateX(0%);}
}
@keyframes sadshake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -1px) rotate(-1deg); }
  20% { transform: translate(1px, 1px) rotate(1deg); }
  30% { transform: translate(-1px, -1px) rotate(0deg); }
  40% { transform: translate(1px, 1px) rotate(1deg); }
  50% { transform: translate(-1px, -1px) rotate(-1deg); }
  60% { transform: translate(1px, 1px)rotate(0deg); }
  70% { transform: translate(-1px, -1px) rotate(-1deg); }
  80% { transform: translate(1px, 1px) rotate(1deg); }
  90% { transform: translate(-1px, -1px) rotate(0deg); }
  100% { transform: translate(1px, 1px) rotate(-1deg); }
}
