.mobile-footer-menu-wrapper{
    display: none;
    background: $white-bg;
    border-top: 1px solid gray;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 1;
    @media (max-width: 767px){
        display: block;
    }
    .mfm-content-box{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding:0 8px ;
        .mfm-content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-decoration: none;
           
           
            
            .icon-box{
               color: rgb(54, 54, 54);
            }
            .mfm-title{
                color: #cfcaca;
                font-size: 10px;
                font-weight: 500;
            }
        }
    }
}