

$headerbg-linear-gradient:linear-gradient(315deg,#130f40 0%, #000000 74%);
$golden-gradient:linear-gradient(0deg, #1e1e1e 0%, #949696 74%);
$pink-gradient: linear-gradient(315deg, #816f7c 0%, #6d6188 74%);
$green-gradient: $golden-gradient;
$silver-gradient:$golden-gradient;
$white-bg:#393939;
$gray-shadow:0px 0px 10px 10px #ffffff14;
$black-text:#fdfdfd;
$gray-text:#d8d8d8;
$faded-white:#b1b1b1;
$gray-border:#5b5b5b;
$white-text:#ffffff;
$caret-totmato:rgb(9, 35, 80);
$pink-shadow: drop-shadow(2px 2px 4px rgb(141, 111, 144))
