.payment-wrapper {
    margin-top: 12px;

    .payment-section {
        display: flex;
        flex-direction: column;
        row-gap: 12px;

        .payment-title {
            background: $white-bg;

            .title {
                padding: 24px;
                font-size: 28px;
                text-align: center;
                line-height: 100%;
                font-weight: 600;
                @media(max-width:575px){
                    font-size: 24px;
                }
            }
        }

        .payment-type-content {
            background: $white-bg;
            padding: 4px 0;

            .nav {
                justify-content: center;
                padding:4px;
                flex-wrap: nowrap;
                width: 100%;
                overflow-x: auto;
                gap: 12px;

                .nav-item {
                    margin-bottom: 12px;
                    margin-top: 12px;
                    .nav-link {
                         min-width: 110px;
                        border: 1px solid rgba(0, 0, 0, 0.1);
                        // border-bottom-right-radius: 4px;
                        transition: .4s all linear;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 4px;
                        height: 100%;
                        padding:4px 12px;

                        .icon-box {
                            width: 32px;
                            height: 32px;
                            margin-bottom: 4px;

                            img {
                                object-fit: contain;
                            }
                            @media(max-width:575px){
                                display: none;
                            }
                        }

                        .sm-title {
                            font-size: 16px;
                            text-align: start;
                            @media(max-width: 575px){
                                font-size: 14px;
                                font-weight: 600;
                            }
                        }

                        &.active {
                            box-shadow:2px 1px 6px 1px rgb(149 145 157 / 63%);
                        }
                    }
                }
                @media(max-width:768px) {
                    justify-content: space-between;
                }
            }
        }

        .tab-content {

            #card {

                .forms {

                    .form-group {
                        margin-bottom: 16px;

                        .card-num-field {
                            position: relative;

                            .img-box {
                                position: absolute;
                                right: 8px;
                                height: 22px;
                                top: calc(50% - 13px);
                                max-width: 222px;

                                @media(max-width: 767px) {
                                    max-width: 175px;
                                }

                                img {
                                    object-fit: contain;
                                }
                            }

                        }

                        .form-label {
                            font-size: 14px;
                            font-weight: 500;
                        }

                        .form-control {
                            border-radius: 4px;
                            background: $faded-white;
                        }


                    }

                    .f-group {
                        display: flex;
                        justify-content: space-between;

                        .form-group {
                            flex: 0 0 49%;

                            .form-control {
                                width: 100%;
                            }
                        }
                    }
                }
            }

            #netbanking {
                .forms {
                    display: flex;
                    flex-wrap: wrap;

                    .form-group {
                        flex: 0 0 33%;
                        display: flex;
                        align-items: center;
                        gap: 8px;
                        display: inline-block;

                        .icon-box {
                            width: 72px;
                            height: 72px;
                            display: inline-block;

                            img {
                                width: 100%;
                                object-fit: contain;
                                height: 100%;
                            }
                        }

                        label {
                            font-size: 12px;
                            font-weight: 500;
                        }
                    }
                }
            }
        }

    }

    .cart-right-content {
        background-color: $white-bg;
        padding: 12px;
        position: sticky;
        top: 70px;

        .price-detail-title {
            padding: 16px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        }

        .price-detail-group {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 4px 16px;

            &.total-amount {
                padding: 16px;
                border: 1px dotted rgba(0, 0, 0, 0.3);
                border-left: 0;
                border-right: 0;
                margin: 8px 0;
            }
        }
    }

    .place-order {
        .btns {
            width: 100%;
            display: inline-block;
            border-radius: 4px;
            font-size: 18px;
        }
    }
}