.thankyou-wrapper{
    width: 100vw;
    height: 100vh;
    background: url(../Images/thankyou-bg.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    background-origin: content-box;
    
}