.btns {
    padding: 10px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    border-radius: 0;
    text-decoration: none;
}

.btn-purple {
    background: #80669d;
    color: white;

    &:hover {
        background: #80669d;
        color: white;
    }

    &:active {
        background: #80669d;
        color: white;
        border: none;
    }
}

.btn-red {
    background: #ED0800;
    color: white;

    &:hover {
        background: #ED0800;
        color: white;
    }

    &:active {
        background: #13a055;
        color: white;
            border: 1px solid #ffffff;
    }

}
.btn-yellow {
    background: #e1b71f;
    color: white;

    &:hover {
        background: #e1b71f;
        color: white;
    }

    &:active {
        background: #e1b71f;
        color: white;
        border: 1px solid #e1b71f;
    }

}

.btn-white {
    background: white;
    color: #4681f4;
    border: none;
    border-radius: 0;
    outline: 0;
    box-shadow: 0px 1px 3px 0px #bcbcbc;

    &:hover {
        background: white;
        color: #4681f4;
    }

    &:active {
        background: white;
        color: #4681f4;
        border: none;
        outline: 0;

    }
}

.btn-xl {
    width: 235px;
    padding: 10px 20px;
}

.btn-lg {
    width: 100px;
    padding: 8px 16px;
}

.btn-md {
    width: 80px;
    font-size: 14px;
    padding: 5px 6px;
}

.btn-sm {
    width: 50px;
    font-size: 14px;
    padding: 6px !important;
 
}