.categogry-wrapper {
    background: white;
    padding: 16px 0;
    &.inner-category{
        position: sticky;
        top: 86px;
        z-index:2;
    }

    @media(max-width:767px) {
        display: none;
    }

    .category-list {

        &.nav {
            justify-content: space-between;
            flex-wrap: nowrap;
            gap: 12px;

            @media(max-width:1366px) {
                gap: 1em;
                max-width: calc(100vw - 100px);
                overflow-x: scroll;
            }

            .nav-item {
                .nav-link {
                    display: flex;
                    flex-direction: column;
                    row-gap: 4px;
                    align-items: center;

                    @media(max-width:767px) {
                        padding: 8px;
                    }

                    .category-list-icon {
                        width: 80px;
                        height: 80px;
                        border-radius: 50%;
                        background-color: #f8ceec;
                        background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%);

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                            filter: drop-shadow(2px 2px 4px rgb(66, 132, 182));
                            transform: scale(1.1,1.1);
                        }

                    }

                    .categorylist-name {
                        color: black;
                        font-size: 14px;
                        font-weight: 600;
                    }

                    overflow: visible;
                }

                .dropdown-menu {
                    z-index: 1;
                }
            }
        }
    }
}