.categogry-wrapper {
    background: white;
    padding: 16px 0;

    &.inner-category {}

    @media(max-width:767px) {
        display: none;
    }

    .category-list {

        &.nav {
            justify-content: center;
            flex-wrap: nowrap;
            gap: 16px;

            @media(max-width:1366px) {
                gap: 1em;
                // max-width: calc(100vw - 100px);
                // overflow-x: scroll;
            }

            .nav-item {
                .nav-link {
                    display: flex;
                    flex-direction: column;
                    row-gap: 8px;
                    align-items: center;

                    @media(max-width:767px) {
                        padding: 8px;
                    }

                    .category-list-icon {
                        width: 72px;
                        height: 72px;
                        border-radius: 50%;
                        background-color: #f8ceec;
                        background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%);

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                            filter: drop-shadow(2px 2px 4px rgb(66, 132, 182));
                            transform: scale(1.1, 1.1);
                        }

                    }

                    .categorylist-name {
                        color: black;
                        font-size: 14px;
                        font-weight: 600;
                    }

                    overflow: visible;
                }

                .dropdown-menu {
                    z-index: 1;
                    min-width: 100vw;
                    max-width: 100vw;
                    left: 0 !important;
                    right: auto !important;
                    // transform: translate(-50%, 50px) !important;
                    background: transparent;
                    border: none;

                    .large-dropdown-menu {
                        padding: 8px 0 !important;
                        margin: 0 25% !important;
                        background: white;
                        padding: 0;
                        border: 1px solid rgba(0, 0, 0, 0.3);
                        border-radius: 4px;

                        .container-fluid {
                            .row {
                                :nth-child(2n) {
                                    background: rgb(244, 242, 242);
                                }
                            }
                        }

                        ul {
                            // height: 100%;
                            padding: 0;

                            li {
                                padding-left: 4px;
                                cursor: pointer;
                            }


                            .sm-para {
                                font-size: 12px;
                                font-weight: 500;
                            }
                        }


                    }
                }
            }
        }
    }
}