.wrapper {
    background: #f1f2f4;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    position: relative;

    @media (max-width: 767px) {
        row-gap: 8px;
    }

    .inner-wrapper {
        display: flex;
        flex-direction: column;
        row-gap: 16px;
        margin: 0 16px;

        @media (max-width: 767px) {
            row-gap: 8px;
            margin: 0 12px;
            height: calc(100vh - 170px);
            overflow-y: scroll;

        }
    }
}

.xxs-title {
    font-size: 10px;
    font-weight: 500;
    color: #040406;
    margin-bottom: 0;
}

.xs-title {
    font-size: 12px;
    margin-bottom: 0;
    font-weight: 500;
    color: #040406;
}

.sm-title {
    font-size: 14px;
    margin-bottom: 0;
    font-weight: 500;
    color: #040406;
}

.md-title {
    font-size: 16px;
    margin-bottom: 0;
    font-weight: 500;
    color: #040406;

    @media(max-width: 767px) {
        font-size: 14px;
    }
}

.title {
    font-size: 18px;
    margin-bottom: 0;
    font-weight: 500;
    color: #040406;

    @media(max-width: 76px) {
        font-size: 16px;
    }
}

.lg-title {
    font-size: 20px;
    margin-bottom: 0;
    font-weight: 500;
    color: #040406;

    @media(max-width: 76px) {
        font-size: 16px;
    }
}

.xl-title {
    font-size: 24px;
    margin-bottom: 0;
    font-weight: 500;
    color: #040406;

    @media(max-width: 76px) {
        font-size: 18px;
    }
}

.sm-para {
    font-weight: 400;
    margin-bottom: 0;
    font-size: 14px;
    color: #28231d;
}

.xs-para {
    font-weight: 400;
    margin-bottom: 0;
    font-size: 12px;
    color: #28231d;
}

.para {
    font-size: 16px;
    margin-bottom: 0;
    color: #28231d;
    font-weight: 400;

    @media(max-width: 76px) {
        font-size: 14px;
    }
}

.lg-para {
    font-size: 18px;
    margin-bottom: 0;
    color: #28231d;
    font-weight: 400;

    @media(max-width: 76px) {
        font-size: 14px;
    }
}

.xl-para {
    font-weight: 400;
    margin-bottom: 0;
    font-size: 20px;
    color: #28231d;

    @media(max-width: 76px) {
        font-size: 16px;
    }
}

.card {
    padding: 8px 4px;
    border: 1px solid rgb(195, 192, 192);
    border-radius: 4px;
    overflow: hidden;

    img {
        transition: 0.7s all;

        &:hover {
            transform: scale(1.05, 1.05);
        }
    }

    .card-title {
        text-align: center;
        text-transform: capitalize;
        margin: 0;

        @media (max-width: 767px) {
            font-size: 14px;

        }
    }

    .card-para {

        text-align: center;
        margin: 0;
        text-transform: capitalize;

        @media (max-width: 767px) {}
    }
}


.form-control {
    :focus {
        border: none !important;
        box-shadow: none !important;
        border: 1px solid #ED0800;
        
    }

}


// Custome Scrollbar Start From Here 
/* width */
::-webkit-scrollbar {
    width: 4px;
    margin-left: 5px;
    padding-left: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: #000000;
    background-image: linear-gradient(326deg, #000000 0%, #ce203c 74%);

}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #310e68;
    background-image: linear-gradient(316deg, #310e68 0%, #5f0f40 74%);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #166d3b;
    background-image: linear-gradient(147deg, #166d3b 0%, #000000 74%);
}

img {
    width: 100%;
    height: 100%;
}


// Custom Edit checkbox  

.edit-group {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    width: 32px;
    flex-wrap: wrap;
    flex-direction: column;
    row-gap: 2px;
    justify-content: end;
    align-items: end;


    #edit {
        height: 18px;
        width: 18px;
        cursor: pointer;
    }

    label {
        font-size: 14px;
        color: #c9c9c9;
    }
}

//Color And Background color
.wrinkled {
    background-color: #655d72;
    background-image: linear-gradient(147deg, #655d72 0%, #898196 74%);
}
.intercome{
    background-color: #f9fcff;
background-image: linear-gradient(147deg, #f9fcff 0%, #dee4ea 74%);
}