.profile-page-wrapper {
    .profile-section {
        .card {
            background-color: #1b2845;
            background-image: linear-gradient(315deg, #1b2845 0%, #274060 74%);
            position: relative;

            .profile-img {
                min-height: 150px;
                max-height: 150px;
                display: flex;
                justify-content: center;
                align-items: center;

                .edit-img {
                    position: absolute;
                    min-height: 100px;
                    max-height: 100px;
                    min-width: 100px;
                    max-width: 100px;
                    opacity: 0;
                    border-radius: 100%;
                    cursor: pointer;
                }

                .profile-img-box {
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    overflow: hidden;
                    border: 5px solid #c9c9c9;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }

            .profile-name {
                color: #c9c9c9;
                font-size: 16px;
            }

            .profile-dettails {
                padding-top: 12px;

                .form-group {
                    padding-bottom: 12px;

                    .card-title {
                        font-size: 12px;
                        color: #c9c9c9;
                    }

                    .form-control {
                        font-size: 14px;
                        border-radius: 0;
                        font-weight: 500;
                        color: #949292;
                    }
                }

                .sbmt-box {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .sbmt-btn {
                        padding: 4px 16px;
                    }
                }
            }
        }
    }

    .tab-content-section {
        padding: 12px 0;

        .nav {
            flex-direction: column;
            row-gap: 12px;
            background-color: #f9fcff;
            background-image: linear-gradient(147deg, #f9fcff 0%, #dee4ea 74%);
            padding: 4px 8px;

            .nav-item {
                .icon-box {
                    display: inline-block;
                    width: 24px;
                    height: 24px;
                    margin-right: 10px;
                }

                .nav-link {
                    display: inline-block;
                    width: 100%;
                    text-align: start;
                    padding-left: 4px;
                    position: relative;
                    transition: 1.5s all linear;

                    &::after {
                        content: url("../Images/Icons/arrow-right.png");
                        position: absolute;
                        top: calc(50% - 10px);
                        opacity: 0;
                    }

                    &.active {
                        background-color: #d2d8d6;
                        background-image: linear-gradient(315deg, #d2d8d6 0%, #dce8e0 74%);
                        color: rgb(7, 7, 67);

                        &::after {
                            opacity: 1;
                            right: 0;

                        }
                    }
                }
            }
        }
    }

    .tab-content {
        .tab-pane {
            .card {
                height: 100%;


            }
        }
    }

    .address-section {
        .address-section-content {}



        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        max-height: 260px;
        overflow-y: auto;
        justify-content: space-between;

        .address-card-wrapper {
            flex: 0 0 calc(33% - 5px);
            margin-bottom: 16px;


            .card {
                padding: 12px;
                height: 100%;

                .addres-type {
                    display: inline-block;
                    padding: 4px 16px;
                    text-align: center;
                    border-radius: 2px;
                    width: 100px;
                    margin-bottom: 12px;
                    color: white;

                }

                .name-contact {

                    display: flex;
                    gap: 16px;
                }
            }
        }


    }

    .grid-scetion {
        padding: 16px 8px;
        padding-right: 0;
        .grid-section-content {
            .title {
                margin-bottom: 12px;
            }
            .content-section {
                .content-section-header {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 12px;
                    margin-bottom: 8px;
                    background-color: #f9fcff;
                    background-image: linear-gradient(147deg, #f9fcff 0%, #dee4ea 74%);
                    margin-bottom: 16px;

                    :last-child {
                        color: rgb(19, 19, 157) !important;
                        cursor: pointer;
                        text-decoration: underline;
                    }
                }

                .card {
                    background-color: #f9fcff;
                    background-image: linear-gradient(147deg, #f9fcff 0%, #dee4ea 74%);

                    .img-box {
                        height: 130px;
                        width: 100%;
                        margin-bottom: 8px;

                        img {
                            object-fit: cover;

                            &:hover {
                                transform: unset;
                            }
                        }
                    }

                    .sm-title {
                        width: inherit;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }
        }
    }
}