.special-of-wrapper {
    background-color: white;
    padding: 16px 0;

    .special-of-title {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 8px;
        text-transform: capitalize;
        @media(max-width: 767px){
            font-size: 16px;
        }
    }

    .special-content-box {
        height: 100%;

        .special-content {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;

            .card {
                flex: 0 0 calc(50% - 5px);
                width: calc(50% - 5px);
                background-color: #d8e7ee;
                background-image: linear-gradient(319deg, #e4edf2 0%, #f4edca 37%, #f4e6e7 100%);

                .img-box {
                    height: 150px;
                    @media(max-width: 767px){
                        height: 90px;
                    }

                    img {
                        object-fit: contain;
                        width: 100%;
                        height: 100%;
                    }
                }

            }

            &.rb {
                height: 100%;
                width: 100%;

                .card {
                    flex: 0 0 100%;
                    max-width: 0 0 100% !important;
                    background-color: #ffffff;
                    background-image: linear-gradient(315deg, #ffffff 0%, #91a6ff 74%);

                    .img-box {
                        width: 100%;
                        height:445px;
                        overflow: hidden;

                        @media(max-width: 767px) {
                            height: 120px;
                        }

                        img {
                            width: 100%;
                            height: 100%;
                            border-image: fill 0 linear-gradient(#0003, #000);
                            object-fit: contain;

                        }
                    }
                }
            }
        }
    }
}